<!-- Visor de mapa -->
<!-- En lugar de ID se recomienda colocarle una variable de plantilla para identificar el componente.
Esto es util en ángular si deseamos crear un componente para el visor de mapas. Ya que al tener muchos de estos componentes
dentro de la vista, Angular les colocará un ID DINÁMICO, con el simple hecho de tener una referencia de plantilla -->
<div #mapa class="visor-mapa"></div>

<!-- Controles con información y gestión de zoom -->
<div class="row controles">
  <div class="col-12">
    <label class="form-label">
      Zoom: {{ zoomLevel | number: '1.2-2' }}
      <br>
      Latitud: {{ centerCoords[0] | number: '2.4-4' }} - Longitud: {{ centerCoords[1] | number: '2.4-4' }}
    </label>
    <!-- Al tratarse se un solo control de formulario, no hay necesidad de trabajar con la metodogía de formularios basados en template o reactivos
    Para ello solo se identifica con una variable de template
    Se hace un binding de su valor a una propiedad declarada en la clase
    Se escucha su cambio de valor mediante el evento input, pasando el valor actual registrado en el control
    Internamente en la función, se hacen las tareas correspondientes

    Se hizo de esta forma por que me interesa estar atento al cambio de valor del control para actualizar el zoom del mapa -->
    <input #zoomInput type="range" [value]="zoomLevel" (input)="cambioValorZoom(zoomInput.value)" min="0" max="18" class="form-range">
  </div>
  <div class="col-12 d-flex justify-content-between">
    <button class="btn btn-primary" (click)="zoomOut()"> - </button>
    <button class="btn btn-primary" (click)="zoomIn()"> + </button>
  </div>
</div>
